# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Resend (email)
RESEND_API_KEY=""
FROM_EMAIL="bookings@therussellfarm.com"

# Admin
ADMIN_EMAIL=""
